<!DOCTYPE html>
<html>

<head>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.icon %>" />

  <%= htmlWebpackPlugin.options.versionScript %>
  <%= htmlWebpackPlugin.options.appendToHead %>
</head>

<body>
  <div id="app"></div>

  <%= htmlWebpackPlugin.options.appendToBody %>
</body>


</html>